header {
    background: #2980b9;
    padding: 8px 24px;
    color: #fff;
}
.title {
    font-size: 20px;
    font-weight: bold;
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
}